
*{ 
    font-family: 'Jost', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }

  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .modules{
    background-image: linear-gradient(to right, rgb(0, 221, 255) 0%, rgb(255, 0, 212) 100%);
    color: white;
    padding: 3px;
    border-radius: 0px 8px 0px 8px;
    box-shadow: rgb(71 9 245 / 35%) 0px 8px 16px;
  }
  .choice{
    margin: -6px auto 5px auto;
    background-image: linear-gradient(to right, rgb(0, 221, 255) 0%, rgb(255, 0, 212) 100%);
    color: white;
    padding: 5px;
    border-radius: 100%;
  }

 