
*{ 
  font-family: 'Poppins', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }

  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .modules{
    background-image: linear-gradient(to right, rgb(0, 221, 255) 0%, rgb(255, 0, 212) 100%);
    color: white;
    padding: 2px;
    border-radius: 0px 8px 0px 8px;
    box-shadow: rgb(71 9 245 / 35%) 0px 4px 16px;
    /* box-shadow: rgb(71 9 245 / 33%) 0px -6px 16px; */
  }
  .choice{
    margin: -10px auto 10px auto;
    background-image: linear-gradient(to right, rgb(0, 221, 255) 0%, rgb(255, 0, 212) 100%);
    color: white;
    padding: 5px;
    border-radius: 100%;
  }
  .p-justify{
    text-align: justify;
  }
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 3.5rem); /* Adjust gap from navbar */
}
.modal-content {
    margin-top: 3.5rem; /* Additional margin from top */
}
 